.star {
    font-size: 25px;
    color: gray;
    cursor: pointer;
}
.star.checked {
    color: gold;
}
textarea,input { 
    resize: none; 
    color: black !important;
}
h1,h5,label[for="comments"] {
    color: black;
}
body {
    background-color: white;
}
.container {
    background-color: whitesmoke;
    padding: 50px 30px;
    border-radius: 15px;
}
table {
    margin: 5px 0px;
    background-color: gray;
}
th,tr,td  {
    color: white;
    border: 2px solid white;

}
